:root {
    --blue-10: #BDCDD6;
    --blue-20: #93BFCF;
    --blue-30: #6096B4;
    --gray-0: #CFCFC4;
    --gray-100: #CFCFC4;
    --gray-120: #A9A9A0;
    --gray-130: #85857E;
    --gray-140: #62625D;
    --gray-150: #41413E;
    --gray-160: #232322;
    --gray-170: #000000;
    --standard-spacing: 0.6rem;
    --shell-hspacing: 1.3rem;
    --corner: 8px;
}

/* General */
* {
    font-family: Arial, Helvetica, sans-serif
}

a {
    text-decoration: none;
}

a:hover {
    font-style: italic;
}

label {
    cursor: pointer;
}

input[type=radio],
input[type=checkbox] {
    margin: 0.3rem;
    transform: scale(1.3);
}

input[type=button],
input[type=submit] {
    margin: 1.3rem 0.3rem;
    padding: 0.3rem 0.6rem;
    background-color: var(--blue-30);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: var(--corner);
}

fieldset {
    border: 2px solid #ccc;
    border-radius: var(--corner);
}

nav ul {
    list-style-type: none;
    padding-left: 0rem;
}

nav ul a {
    display: block;
    padding: 0.3rem 1.3rem 0.3rem 1.3rem;
    width: 100%;
    height: 100%;
    color: white;
    background-color: var(--blue-30);
}

/* Components */
nav ul.horizontal li a {
    border-top: 2px solid var(--gray-140);
    border-bottom: 2px solid var(--gray-140);
    border-right: 2px solid var(--gray-140);
}

nav ul.horizontal li:first-of-type a {
    border-radius: var(--corner) 0px 0px var(--corner);
    border-left: 2px solid var(--gray-140);
}

nav ul.horizontal li:last-of-type a {
    border-radius: 0px var(--corner) var(--corner) 0px;
}

nav ul.stacked li a {
    border-top: 2px solid var(--gray-140);
    border-left: 2px solid var(--gray-140);
    border-right: 2px solid var(--gray-140);
}

nav ul.stacked li:first-of-type a {
    border-radius: var(--corner) var(--corner) 0rem 0rem;
}

nav ul.stacked li:last-of-type a {
    border-radius: 0rem 0rem var(--corner) var(--corner);
    border-bottom: 2px solid var(--gray-140);
}

.page-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.breadcrumb div:not(:last-child)::after {
    content: ' / ';
}

.field {
    margin-top: 0.9rem;
    margin-bottom: 1.3rem;
}

.field-indicator *:first-child {
    font-weight: bold;
}

.field-description {
    font-size: 0.9rem;
    font-style: italic;
}

.field-validation-message {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
    color: firebrick;
}

.label-row {
    width: 100%;
}

.button-item {
    border-radius: var(--corner);
    border: 2px ridge var(--gray-120);
}

.button-item:has(input[type='radio']:checked),
.button-item:has(input[type='checkbox']:checked) {
    background-color: var(--gray-140);
    color: white;
}

/* utility */
.is-checked {
    font-weight: bold;
    /*
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    border: 4px ridge var(--gray-140);
    */
}
.is-underlined {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

.flex-row {
    display: flex;
    direction: row;
    flex-wrap: wrap;
}

.flex-item {
    margin: 0.3rem 0.6rem;
    padding: 0.3rem 0.6rem;
}

/* page specifics */
header {
    padding-top: var(--shell-hspacing);
    padding-bottom: 0.6rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
}

header h1 {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    font-size: 2.3rem;
}

header ul {
    display: flex;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    flex-direction: row;
    font-weight: bold;
}

main {
    display: flex;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    margin-bottom: 3.5rem;
    width: 100%;
    column-gap: 1.5rem;
}

.form-row {
    display: flex;
    direction: row;
    column-gap: 1.5rem;
}

.form-col {
    flex: 1 1 50%;
}


.sidebar.minimised {
    width: 5rem;
}

.sidebar.expanded {
    min-width: 10rem;
    width: 15rem;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: row;
    column-gap: 1.5rem;
}

.content-target {
    flex: 1 1 100%;
}

.content-ref {
    position: fixed;
    right: 0px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    width: 15rem;
    background-color: white;
    border: 1px dotted black;
    transition: all 1.5s;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    width: 100%;
    height: 3rem;
    background-color: white;
    flex-direction: row;
}

footer div {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    flex: 1 1 auto;
}

footer div.footer-right {
    text-align: right;
}